rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // public collection is publiclly accessible
    match /public/{publicId} {
      allow read, write: if true;
    }

    // securities for authenticated users
    match /users/{userId} {
      allow read, write: if isOwner(userId) || isAdmin();

      match /pdfs/{pdfId} {
          allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    // HELPER FUNCTIONS
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }
  }
}
